.strategies {
    padding: .6em 1.2em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;

}

#selection-list {
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.5);
    font-size: 1em;
    font-family: inherit;
    display: inline-block;
    color: black;
    padding: 0.6em 1.2em;
    transition: background-color 0.5s;
    margin-top: 1.5rem;
    box-shadow: 5px 10px 15px #817c7c33;


}

#selection-list:hover {
    background-color: rgba(221, 111, 111, 0.25);
}

#selection-list:focus {
    outline: none;
}

#selection-list option {
    background-color: rgba(241, 240, 240, 0.877);
    border-radius: 8px;
}

#first-selection {
    margin-top: 1.5rem;
}