.strategies {
    padding: 0.6em 1.2em;
    margin-top: 1.5rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;

}

#selection-list {
    border-radius: 8px;
    border: 1px solid transparent;
    background-color: var(--light-grey);
    font-size: 1em;
    font-family: inherit;
    color: black;
    padding: 0.3em 1em;
    transition: background-color 0.5s;
    margin-top: 10px;
}

#selection-list:hover {
    background-color: rgba(241, 240, 240, 0.877);
}

#selection-list:focus {
    outline: none;
}

#selection-list option {
    background-color: rgba(241, 240, 240, 0.877);
    border-radius: 8px;
}

#first-selection {
    margin-top: 1.5rem;
}