/* a div named suggestion_card that has biege backrgound color and box shadow of 0 15px 25px #817c7c33 and thin black border*/
.suggestion_card {
    width: 70%;
    background-color: rgba(255, 255, 255, 0.692);
    box-shadow: 5px 15px 25px #817c7c33;
    border: thin transparent solid;
    border-radius: 10px;
}
.stars_container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 3px 1px;
    gap: 0.5rem;
}
.suggestion_card_image{
    width: 100%;
    border-radius: 10px;
}

.suggestion_card_image_container{
    width: 5%;
    height: auto;
}

.yellow{
    background-color: rgb(250, 250, 203);
}